<a href="https://colab.research.google.com/github/msrana172/Python-Programs/blob/master/Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Programs**

Area of circle

In [26]:
import math
# print(math.factorial(5))
def areaOfCircle(r):
    area = math.pi*r**2
    return area
r = 2
print(areaOfCircle(r))

12.566370614359172

All prime number in a Interval

In [27]:
start = 11
end = 25
for i in range(start, end):
    for j in range(2, i):
        if i%j == 0:
            break
    else:
       print(i, end = " ")

11 13 17 19 23

Given Number is Prime or Not

In [28]:
num = 11
if num > 1:
    for i in range(2, num):
        if num%i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is prime")
else:
    print(num, 'is not a prime number')

11 is prime

GCD of two numbers

In [29]:
def GCD(a, b):
    if b == 0:
        return a
    else:
        return GCD(b, a%b)
num1 = 18
num2 = 24
print(GCD(num1, num2))

6

In [30]:
lcm = num1*num2/GCD(num1, num2)

In [31]:
lcm

72.0

fibonacci series

In [32]:
def fib(n):
    a = 0
    b = 1
    if n < 0:
        print("Incorrect Input")
    elif n == 0:
        return a
    elif n == 1:
        return b
    else:
        for i in range(2, n):
            c = a + b
            a = b
            b = c 
        return b
def fib1(n):
    if n<0:
        print("Incorrect Input")
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else: 
        return fib1(n-1) + fib1(n-2)

In [33]:
n = 9
print(fib(n))
print(fib1(n))

21
21

* Pttern Printing

In [34]:
# *
# * *
# * * *
# * * * *
# * * * * *
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [35]:
#Pattern-2
n = 3
k = 1
for i in range(1, n + 1):                           # * 
    for j in range(1, k + 1):                       # * * *
        print("*", end = " ")                       # * * * * *
    k += 2    
    print()

*
* * *
* * * * *

In [36]:
# Pattern - 3
def triangle(n):
    k = 2*n - 2
    for i in range(0, n):
        for j in range(0, k):
            print(end = " ")
        k = k - 2
        for j in range(0, i + 1):
            print("*", end = " ")
        print("\r")  
n = 5
triangle(n)

        *
      * *
    * * *
  * * * *
* * * * *

In [37]:
def triangle(n):
    k = 2*n - 2
    for i in range(0, n):
        for j in range(0, k):
            print(end = " ")
        k = k - 1
        for j in range(0, i + 1):
            print("*", end = " ")
        print("\r")  
n = 5
triangle(n)

        *
       * *
      * * *
     * * * *
    * * * * *

In [38]:
def triangle(n):
    k = 2*n - 2
    for i in range(0, n):
        for j in range(0, k):
            print(end = " ")
        k = k - 1
        for j in range(0, i + 1):
            print("*", end = " ")
        print("\r")  
n = 5
triangle(n)

        *
       * *
      * * *
     * * * *
    * * * * *

In [39]:
n = 5
for i in range(1, n + 1):
   for gap in range(1, (n - i) + 1):
      print(end = " ")
   for i in range(2*i - 1):
      print("*", end = "")
   print()

    *
   ***
  *****
 *******
*********

In [40]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [41]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [42]:
n = 5
b = 0
for i in range(n, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end = " ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [43]:
n = 5
b = 5
for i in range(n, 0, -1):
    # b += 1
    for j in range(1, i + 1):
        print(b, end = " ")
    b -= 1    
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [44]:
n = 5
m = n
for i in range(n , 0, -1):
    for j in range(1, i + 1):
        print(m, end = " ")
    print('\r')

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [45]:
n = 5
for i in range(n , 0, -1):
    for j in range(1, i + 1):
        print(i, end = " ")
    print('\r')  

print("---------")

for i in range(n , 0, -1):
    for j in range(1, i + 1):
        print(j, end = " ")
    print('\r')     
print("---------")

for i in range(n , 0, -1):
    for j in range(0, i + 1):
        print(j, end = " ")
    print('\r')

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1
---------
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
---------
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [46]:
n = 5
for i in range(1, n + 1):
    for j in range(i, 0, -1):
        print(j, end = " ")
    print()  

print("--------")

for i in range(1, n + 1):
    for j in range(i-1, -1, -1):
        print(format(2**j, "2d"), end = " ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
--------
 1
 2  1
 4  2  1
 8  4  2  1
16  8  4  2  1

In [47]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i+1, 1):
        print(2**j, end = " ")
    for j in range(i-1, -1, -1):
        print(2**j, end = " ")
    print()

2 1
2 4 2 1
2 4 8 4 2 1
2 4 8 16 8 4 2 1
2 4 8 16 32 16 8 4 2 1

In [48]:
CurrentNumber = 1
n = 5
stop = 2
for i in range(1, n + 1):
    for j in range(1, stop):
        print(format(CurrentNumber, "4d"), end = " ")
        CurrentNumber += 1
    print()
    stop += 2

print("  ------------------------------------------")
CurrentNumber = 1
n = 5
stop = 2
for i in range(1, n + 1):
    for j in range(1, stop):
        print(format(CurrentNumber, "4d"), end = " ")
        CurrentNumber += 1
    print()
    stop += 1

   1
   2    3    4
   5    6    7    8    9
  10   11   12   13   14   15   16
  17   18   19   20   21   22   23   24   25
  ------------------------------------------
   1
   2    3
   4    5    6
   7    8    9   10
  11   12   13   14   15

In [49]:
start = 1
stop = 2
currentNumber = stop
n = 5
for i in range(2, n):
    for j in range(start, stop):
        currentNumber -= 1
        print(currentNumber, end = " ")
    print(" ")
    start = stop
    stop += i
    currentNumber = stop

1
3 2
6 5 4

In [50]:
# Online Python compiler (interpreter) to run Python online.
# Write Python 3 code in this online editor and run it.
# Constructor:- Constructor is a special type of method
# which is used to initiate the instatnce member of the class
print("Hello world")
class Employee:
    def __init__(self, name, id):
        self.name = name
        self.id = id
    def display(self):
        print("Id : %d \nName : %s"%(self.id, self.name))
emp1 = Employee("John", 101)
emp2 = Employee("Raghav", 102)
emp1.display()
emp2.display()
print("\n")
class Car:
    def __init__(self, modelName, year):
        self.modelName = modelName
        self.year = year
    def display1(self):
        print("Car Model : %s and year : %d"%(self.modelName, self.year))
car1 = Car("Toyota", 2020) 
car2 = Car("Maruti", 1996)
car1.display1()
car2.display1()
print("\n")
# Static Method in Python
class Employee1:
    def fun_message(self):
        print("Welcome to Python Programming:")
    @staticmethod    
    def fun_msg():
        print("This is the static method in python:")
        
Employee1.fun_msg()  
emp = Employee1()
emp.fun_message()

#Constructor cannot be final, because it canâ€™t be inherited/overridden. 
# static is used for memory management, it means same variable or
# method will be shared between all instances of a class. 
# Constructor cannot be static because it cannot be call as method or variable, 
# so no need to placing a static variable before constructor.
print("\n")
class Animal:
    def speak(self):
        print("Animal Speaking : ")
class Dog(Animal):
    def bark(self):
        print("Dod Barking : ")
class DogChild(Dog):
    def eat(self):
        print("Eating Bread : ")
        
        
obj = DogChild()
obj.speak()
obj.bark()
obj.eat()
print("\n")
class Calculation1:
    def summation(self, a , b):
        return a + b
class Calculation2:
    def multiplication(self, a, b):
        return a*b
class Derived(Calculation1, Calculation2):
    def division(self, a, b):
        return a/b
# creating the objectof derived class
mulLevel = Derived()
print("Summation : ",mulLevel.summation(2,4))
print("Multiplication : ", mulLevel.multiplication(2,4))
print("Division : ",mulLevel.division(4,2))

print("\n")
class Animal:
    def speak(self):
        print("Speaking")
class Dog(Animal):
    def speak(self):
        print("Barking")
overloading = Dog()
overloading.speak()

print()
# Encapsulationcn
class Computer:
    def __init__(self):
        self.__price = 900
    def sell(self):
        print("Selling Price : ", self.__price)
    def setmaxPrice(self, price):
        self.__price = price
C = Computer()
C.sell()
C.__price = 1000
C.sell()
C.setmaxPrice(1000)
C.sell()

Hello world
Id : 101
Name : John
Id : 102
Name : Raghav


Car Model : Toyota and year : 2020
Car Model : Maruti and year : 1996


This is the static method in python:
Welcome to Python Programming:


Animal Speaking :
Dod Barking :
Eating Bread :


Summation :  6
Multiplication :  8
Division :  2.0


Barking

Selling Price :  900
Selling Price :  900
Selling Price :  1000