<a href="https://colab.research.google.com/github/msrana172/Python-Programs/blob/master/Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Programs**

Area of circle

In [1]:
import math
# print(math.factorial(5))
def areaOfCircle(r):
    area = math.pi*r**2
    return area
r = 2
print(areaOfCircle(r))

12.566370614359172

All prime number in a Interval

In [2]:
start = 11
end = 25
for i in range(start, end):
    for j in range(2, i):
        if i%j == 0:
            break
    else:
       print(i, end = " ")

11 13 17 19 23

Given Number is Prime or Not

In [3]:
num = 11
if num > 1:
    for i in range(2, num):
        if num%i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is prime")
else:
    print(num, 'is not a prime number')

11 is prime

GCD of two numbers

In [4]:
def GCD(a, b):
    if b == 0:
        return a
    else:
        return GCD(b, a%b)
num1 = 18
num2 = 24
print(GCD(num1, num2))

6

In [5]:
lcm = num1*num2/GCD(num1, num2)

In [6]:
lcm

72.0

fibonacci series

In [7]:
def fib(n):
    a = 0
    b = 1
    if n < 0:
        print("Incorrect Input")
    elif n == 0:
        return a
    elif n == 1:
        return b
    else:
        for i in range(2, n):
            c = a + b
            a = b
            b = c 
        return b
def fib1(n):
    if n<0:
        print("Incorrect Input")
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else: 
        return fib1(n-1) + fib1(n-2)

In [8]:
n = 9
print(fib(n))
print(fib1(n))

21
21

* Pttern Printing

In [9]:
# *
# * *
# * * *
# * * * *
# * * * * *
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [10]:
#Pattern-2
n = 3
k = 1
for i in range(1, n + 1):                           # * 
    for j in range(1, k + 1):                       # * * *
        print("*", end = " ")                       # * * * * *
    k += 2    
    print()

*
* * *
* * * * *

In [11]:
# Pattern - 3
def triangle(n):
    k = 2*n - 2
    for i in range(0, n):
        for j in range(0, k):
            print(end = " ")
        k = k - 2
        for j in range(0, i + 1):
            print("*", end = " ")
        print("\r")  
n = 5
triangle(n)

        *
      * *
    * * *
  * * * *
* * * * *

In [12]:
def triangle(n):
    k = 2*n - 2
    for i in range(0, n):
        for j in range(0, k):
            print(end = " ")
        k = k - 1
        for j in range(0, i + 1):
            print("*", end = " ")
        print("\r")  
n = 5
triangle(n)

        *
       * *
      * * *
     * * * *
    * * * * *

In [13]:
def triangle(n):
    k = 2*n - 2
    for i in range(0, n):
        for j in range(0, k):
            print(end = " ")
        k = k - 1
        for j in range(0, i + 1):
            print("*", end = " ")
        print("\r")  
n = 5
triangle(n)

        *
       * *
      * * *
     * * * *
    * * * * *

In [14]:
n = 5
for i in range(1, n + 1):
   for gap in range(1, (n - i) + 1):
      print(end = " ")
   for i in range(2*i - 1):
      print("*", end = "")
   print()

    *
   ***
  *****
 *******
*********

In [15]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [16]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
n = 5
b = 0
for i in range(n, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end = " ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [18]:
n = 5
b = 5
for i in range(n, 0, -1):
    # b += 1
    for j in range(1, i + 1):
        print(b, end = " ")
    b -= 1    
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [19]:
n = 5
m = n
for i in range(n , 0, -1):
    for j in range(1, i + 1):
        print(m, end = " ")
    print('\r')

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [20]:
n = 5
for i in range(n , 0, -1):
    for j in range(1, i + 1):
        print(i, end = " ")
    print('\r')  

print("---------")

for i in range(n , 0, -1):
    for j in range(1, i + 1):
        print(j, end = " ")
    print('\r')     
print("---------")

for i in range(n , 0, -1):
    for j in range(0, i + 1):
        print(j, end = " ")
    print('\r')

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1
---------
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
---------
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [21]:
n = 5
for i in range(1, n + 1):
    for j in range(i, 0, -1):
        print(j, end = " ")
    print()  

print("--------")

for i in range(1, n + 1):
    for j in range(i-1, -1, -1):
        print(format(2**j, "2d"), end = " ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
--------
 1
 2  1
 4  2  1
 8  4  2  1
16  8  4  2  1

In [22]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i+1, 1):
        print(2**j, end = " ")
    for j in range(i-1, -1, -1):
        print(2**j, end = " ")
    print()

2 1
2 4 2 1
2 4 8 4 2 1
2 4 8 16 8 4 2 1
2 4 8 16 32 16 8 4 2 1

In [23]:
CurrentNumber = 1
n = 5
stop = 2
for i in range(1, n + 1):
    for j in range(1, stop):
        print(format(CurrentNumber, "4d"), end = " ")
        CurrentNumber += 1
    print()
    stop += 2

print("  ------------------------------------------")
CurrentNumber = 1
n = 5
stop = 2
for i in range(1, n + 1):
    for j in range(1, stop):
        print(format(CurrentNumber, "4d"), end = " ")
        CurrentNumber += 1
    print()
    stop += 1

   1
   2    3    4
   5    6    7    8    9
  10   11   12   13   14   15   16
  17   18   19   20   21   22   23   24   25
  ------------------------------------------
   1
   2    3
   4    5    6
   7    8    9   10
  11   12   13   14   15

In [24]:
start = 1
stop = 2
currentNumber = stop
n = 5
for i in range(2, n):
    for j in range(start, stop):
        currentNumber -= 1
        print(currentNumber, end = " ")
    print(" ")
    start = stop
    stop += i
    currentNumber = stop

1
3 2
6 5 4

In [25]:
class Employee:
    def __init__(self, name, id):
        self.name = name
        self.id = id
    def display(self):
        print("Id : %d \nName : %s"%(self.id, self.name))
emp1 = Employee("John", 101)
emp2 = Employee("Raghav", 102)
emp1.display()
emp2.display()

print("\n")

class Car:
    def __init__(self, modelName, year):
        self.modelName = modelName
        self.year = year
    def display1(self):
        print("Car Model : %s and year : %d"%(self.modelName, self.year))
car1 = Car("Toyota", 2020) 
car2 = Car("Maruti", 1996)
car1.display1()
car2.display1()
print("\n")
# Static Method in Python
class Employee1:
    def fun_message(self):
        print("Welcome to Python Programming:")
    @staticmethod    
    def fun_msg():
        print("This is the static method in python:")
        
Employee1.fun_msg()  
emp = Employee1()
emp.fun_message()

#Constructor cannot be final, because it can’t be inherited/overridden. 
# static is used for memory management, it means same variable or
# method will be shared between all instances of a class. 
# Constructor cannot be static because it cannot be call as method or variable, 
# so no need to placing a static variable before constructor.
print("\n")
class Animal:
    def speak(self):
        print("Animal Speaking : ")
class Dog(Animal):
    def bark(self):
        print("Dod Barking : ")
class DogChild(Dog):
    def eat(self):
        print("Eating Bread : ")
        
        
obj = DogChild()
obj.speak()
obj.bark()
obj.eat()
print("\n")
class Calculation1:
    def summation(self, a , b):
        return a + b
class Calculation2:
    def multiplication(self, a, b):
        return a*b
class Derived(Calculation1, Calculation2):
    def division(self, a, b):
        return a/b
# creating the objectof derived class
mulLevel = Derived()
print("Summation : ",mulLevel.summation(2,4))
print("Multiplication : ", mulLevel.multiplication(2,4))
print("Division : ",mulLevel.division(4,2))

print("\n")
class Animal:
    def speak(self):
        print("Speaking")
class Dog(Animal):
    def speak(self):
        print("Barking")
overloading = Dog()
overloading.speak()

print()
# Encapsulationcn
class Computer:
    def __init__(self):
        self.__price = 900
    def sell(self):
        print("Selling Price : ", self.__price)
    def setmaxPrice(self, price):
        self.__price = price
C = Computer()
C.sell()
C.__price = 1000
C.sell()
C.setmaxPrice(1000)
C.sell()

Id : 101
Name : John
Id : 102
Name : Raghav


Car Model : Toyota and year : 2020
Car Model : Maruti and year : 1996


This is the static method in python:
Welcome to Python Programming:


Animal Speaking :
Dod Barking :
Eating Bread :


Summation :  6
Multiplication :  8
Division :  2.0


Barking

Selling Price :  900
Selling Price :  900
Selling Price :  1000

**Abstract Class in Python**

* A class is called an Abstract class if it contains one or more abstract 
methods. 
* An abstract method is a method that is declared, but contains no implementation. 
* Abstract classes may not be instantiated, and its abstract methods must be implemented by its subclasses.

In [26]:
from abc import ABC, abstractmethod 
class Polygon(ABC):
    # abstract method
    # @abstractmethod 
    def noofsides(self):
        pass 
class Triangle(Polygon):
    #overriding abstract method 
    def noofsides(self):
        print("I have 3 sides :")
class Pentagon(Polygon):
    #Overriding abstract method 
    def noofsides(self):
        print("I have 5 sides :")
class Hexagon(Polygon):
    def noofsides(self):
        print("I have 6 sides :")
class Quadrialateral(Polygon):
    def noofsides(self):
        print("I have 4 sides :")
R = Triangle()
R.noofsides()

K = Quadrialateral()
K.noofsides()

R = Pentagon()
R.noofsides()

K = Hexagon()
K.noofsides()

a = Polygon()
a.noofsides()

I have 3 sides :
I have 4 sides :
I have 5 sides :
I have 6 sides :

In [27]:
# Another Example pf Abstract class
import abc 
class Shape(metaclass = abc.ABCMeta):
    @abc.abstractmethod
    def printArea(self):
        pass 
class Rectangle(Shape):
    def __init__(self, x, y):
        self.l = x 
        self.b = y 
    def printArea(self):
        return self.l * self.b 
r = Rectangle(10, 20)
print("Area of Ractangle", r.printArea())

Area of Ractangle 200

**Number of perfect squares between two given numbers**
```
Given two given numbers a and b where 1<=a<=b, find the number of perfect squares between a and b (a and b inclusive).
```

In [28]:
def perfectSquare(a, b):
    count = 0
    for i in range(a, b + 1):
        if i**(.5) == int(i**(.5)):
            print(i ,end = " ")
            count += 1
    print("\nPerfect Square between a and b :", count)        
a = 2
b = 24        
perfectSquare(a, b)

# Another Method
def CountPerfectSquare(a, b):
    count = 0
    for i in range(a, b + 1):
        j = 1
        while j * j <= i:
            if j * j == i:
                count += 1
            j += 1
        i += 1
    return count                
print("Perfect Square between a and b :", CountPerfectSquare(a, b))

4 9 16
Perfect Square between a and b : 3
Perfect Square between a and b : 3

**Program to convert a given number to words**
```
Write code to convert a given number into words. For example, if “1234” is given as input, output should be “one thousand two hundred thirty four”.
```

In [29]:
def convert_to_words(number):
    l = len(number)
    if l == 0:
        print("Empty String :")
        return ;
    if l > 4:
        print("Length more than 4 is not supported :")
        return ;
    single_digits = ["zero", 'one', 'two', 'three', 'four', 'five', 'six', 'seven','eight', 'nine']               
    two_digits = [' ', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen']
    ten_multiple = [' ', ' ', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety']               
    tens_power = ['hundred', 'thousand']
    print(number + " :", end = " ")
    if l == 1:
        print(single_digits[ord(number[0]) - '0']);
        return ;
    i = 0
    while i < len(number):
        if l>=3:
            if ord(number[i]) - 48 != 0:
                print(single_digits[ord(number[i]) - 48], end = " ")
                print(tens_power[l - 3], end = ' ')
            l -= 1
        else:
            if ord(number[i]) - 48 == 1:
                sum = ord(number[i]) - 48 + ord(number[i + 1]) - 48  
                print(two_digits[sum])
                return ;
            elif ord(number[i]) - 48 == 2 and ord(number[x + 1]) - 48 == 0:
                print("twenty")
                return ;
            else:
                x = ord(number[i]) - 48
                if x > 0:
                    print(tens_multiple[x], end = " ")
                else:
                    print(" ", end = " ")
                i += 1
                if ord(number[i]) - 48 != 0:
                    print(single_digits[ord(number[i]) - 48])
    i += 1                                     
number = "123"
convert_to_words(number)

123 : one hundred twelve

Python Program to check is a string is palindrome or not

In [30]:
# Method - 1
def isPalindrome(s):
    return s == s[::-1]

# Another Method
def isPalindrome1(str):
    for i in range(len(str)):
        if str[i] != str[len(str) - i - 1]:
            return False
    return True

s = "malayalam"
ans = isPalindrome(s)
ans1 = isPalindrome1(s)
print(ans)
print(ans1)

True
True

In [31]:
def reverseString(s):
    rs = ''
    for c in s:
        rs = c + rs 
    return rs
s = "radar"
s1 = reverseString(s)
if s == s1:
    print("True")
else:
    print("False")

True

String is an anagram of another given string

```
 An anagram of a string is another string that contains same characters, only the order of characters can be different. For example, “abcd” and “dabc” are anagram of each other.
```

In [32]:
def is_anagram(str1, str2):
    list_str1 = list(str1)
    list_str1.sort()
    list_str2 = list(str2)
    list_str2.sort()

    return (list_str1 == list_str2)

print(is_anagram('anagram','nagaram'))
print(is_anagram('cat','rat'))

True
False

In [33]:
def areAnagram(str1, str2):    
    n1 = len(str1)  
    n2 = len(str2)  
   
    if n1 != n2:  
        return 0
  
    # Sort both strings  
    str1 = sorted(str1) 
    str2 = sorted(str2) 
  
    # Compare sorted strings  
    for i in range(0, n1):  
        if str1[i] != str2[i]:  
            return 0
    return 1
    
str1 = "test"
str2 = "ttew"
if areAnagram(str1, str2):  
    print ("The two strings are anagram of each other") 
else:  
    print ("The two strings are not anagram of each other")

The two strings are not anagram of each other

In [34]:
def check(s1, s2):   
    if(sorted(s1) == sorted(s2)): 
        print("The strings are anagrams.")  
    else: 
        print("The strings aren't anagrams.")          
        
s1 ="listen"
s2 ="silent" 
check(s1, s2)

The strings are anagrams.

Convert Decimal to Binary, Octal and Hexadecimal

In [35]:
dec = int(input("Enter Decimal Number : "))
print(bin(dec), "in binary")
print(oct(dec), "in octal")
print(hex(dec), "in hexa decimal")

Enter Decimal Number : 4
0b100 in binary
0o4 in octal
0x4 in hexa decimal

**Binary right angle triangle**

In [36]:
def binaryRightAngleTriangle(n):  
    for row in range(0, n):  
        for col in range(0, row + 1):  
            if (((row + col) % 2) == 0) : 
                print("0", end = "") 
            else: 
                print("1", end = "") 
            print(" ", end = "") 
          
        print("") 

n = 4
binaryRightAngleTriangle(n)

0
1 0
0 1 0
1 0 1 0

In [37]:
def binaryRightAngleTriangle(n):  
    for row in range(0, n):  
        for col in range(0, row + 1):  
            if (((row + col) % 2) == 0) : 
                print("1", end = "") 
            else: 
                print("0", end = "") 
            print(" ", end = "") 
          
        print("") 

n = 4
binaryRightAngleTriangle(n)

1
0 1
1 0 1
0 1 0 1

modified Binary triangle pattern


```
In Modified Binary Triangle Pattern, the first and last element of a Nth row are 1 and the middle (N – 2) elements are 0.
```

In [38]:
def modifiedBinaryPattern(n): 
      
    # Loop to traverse the rows 
    for i in range(1, n + 1, 1): 
  
        # Loop to traverse the 
        # numbers in each row 
        for j in range(1, i + 1, 1): 
              
            # Check if j is 1 or i 
            # In either case print 1 
            if (j == 1 or j == i): 
                print(1, end = "") 
  
            # Else print 0 
            else: 
                print(0, end = "") 
        print('\n', end = "") 

if __name__ == '__main__':  
    n = 7
    modifiedBinaryPattern(n)

1
11
101
1001
10001
100001
1000001

**Decoraters**
* Python's decorators allow you to extend and modify the behavior of a callable (functions, methods, and classes) without permanently modifying the callable itself.
* Using the decoraters we can add extra fetures in exitsting method or function

In [39]:
@smart_div
def div(a, b):
    print("Value of a : ", a)
    print("Value of b : ", b)
    print("Division of a and b : ",a/b)

def smart_div(func):
    
    def inner(a, b):
        if a < b:
            a, b = b, a
        return func(a, b)
    return inner 
# div = smart_div(div)
div(2, 4)

NameError: ignored

**First Class Object:** In python, Everything is treated as an object including all the data type, functions too. Therefore, a function is also known as firs_class-object and can be passed around as argument.

**Inner-Function:** It is possivle to define functions inside a function. That function is called an inner function

In [ ]:
def simple():  
    for i in range(10):  
        if(i%2==0):  
            yield i
            # return i
#Successive Function call using for loop  
for i in simple():  
    print(i)

In [ ]:
def table(n):
    for i in range(1, 11):
        yield n*i 
        i += 1
for i in table(15):
    print(i)

In [ ]:
# Infinte loop
def infinite_sequence():
    num = 0
    while True:
        yield num 
        num += 1     
# for i in infinite_sequence():
#     print(i)

In [ ]:
# Another Infinite loop
def InfiniteLoop():
    num = 1
    while True:
        print("Hello India")
        num += 1

Arbitrary Arguments, *args

* If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

* This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def my_function(*kids):
    print("The youngest child is : ", kids[2])
my_function("Moolchand Singh", "Mahaveer SIngh", "Mahendra Singh", "Mohit Singh", "Sevak Singh")

Arbitrary Keyword Arguments, **kwargs

* If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

* This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [ ]:
def my_function_1(**kid):
    print("Last name of the Kid", kid["lastName"])

my_function_1(fistName = "Mahaveer", lastName = "Singh")

In [ ]:
class Base:
    def __init__(self):
        #Protacted Member
        self._a = 2
class Drived(Base):
    def __init__(self):
        Base.__init__(self)
        print("Calling Protacted Member of the Base Class:")
        print(self._a)
obj1 = Drived()
obj1._a 
obj2 = Base()
print(obj2._a)

In [ ]:
#creating a base class
class Base:
    def __init__(self):
        self.a = "GeeksforGeeks"
        self.__c = "GeeksforGeeks"
# creating a Drived Class
class Drived(Base):
    def __init__(self):
        #calling the constructor of base class 
        Base.__init__(self)
        print("Calling private member of base class ")
        print(self._Base__c)
obj1 = Base()
print(obj1.a)
# print(obj1.__c)
obj2 = Drived()
print(obj2._Base__c) # Call the Private data outside the class using class itself[meaning : obj._classname__variable]

**Pattern 1-121-12321 pyramid pattern**

In [ ]:
n = 5
for i in range(1, n + 1):
    # for space
    for j in range(1, n + 1 - i):
        print(" ", end = " ")
    # for incriment pattern
    for j in range(1, i + 1):
        print(j, end = " ")
    # for decriment the pattern 
    for j in range(i-1, 0, -1):
        print(j, end = " ")
    print()

In [ ]:
n = 5
for i in range(1, n + 1):
    # for space
    # for j in range(1, n + 1 - i):
    #     print(" ", end = " ")
    # for incriment pattern
    for j in range(1, i + 1):
        print(j, end = " ")
    # for decriment the pattern 
    for j in range(i-1, 0, -1):
        print(j, end = " ")
    print()

**Find the Missing Number**
* You are given a list of n-1 integers and these integers are in the range of 1 to n. 
* There are no duplicates in the list. One of the integers is missing in the list. 
* Write an efficient code to find the missing integer.
* **Example:**

* **Input:** arr[] = {1, 2, 4, 6, 3, 7, 8}
* **Output:** 5
* **Explanation:** The missing number from 1 to 8 is 5

In [ ]:
def getMissingNumber(arr):
    n = len(arr)
    total = (n + 1)*(n + 2)/2
    sum_of_arr = sum(arr)
    return total - sum_of_arr

In [ ]:
arr = list(range(1, 101))
print(arr)

In [ ]:
arr.remove(15) # Remove a number that is 15

In [ ]:
print(arr)

In [ ]:
# Driver program to test the above function
miss = getMissingNumber(arr)
print(int(miss))